:root {
    --primary-color: #045779;
    --secondary-color: #104713;
    --background-color: #ffffff;
    --text-color: #000000;
    --heading-font: 'Arial Black', sans-serif;
    --body-font: 'Arial', helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 840px;
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

header li {
    display: flex;
    justify-self: center;
    align-self: center;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.hero article img {
    float: right;
    width: 80px;
}

.hero article {
    position: absolute;
    background-color: rgb(27, 52, 90);
    color: var(--background-color);
    opacity: .8;
    top: 350px;
}

.part2 img p {
    display: flex;

}

.part2 {
    display: grid;
    max-width: 840px;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
}

section h2 {
    display: grid;
    width: 100%;
    justify-content: center;
    background-color: var(--secondary-color);
    color: #fff;
    margin-bottom: 20px;
    align-content: center;
    grid-column: 1/4;
}

.part2 img {
    display: grid;
    width: 200px;
    height: auto;
    grid-column: 2/3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.part3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.part3 h2 {
    grid-column: 1/6;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

figure img {
    width: 120px;
    object-fit: cover;
}

figcaption {
    display: flex;
    font-size: .6rem;
    text-align: center;
    margin-top: 10px;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 60px;
}

footer p {
    margin: 0;
    text-align: center;
}

.socialmedia {
    display: flex;
    gap: 20px;
    width: 100%;
}

footer nav {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 10px;
}

.socialmedia img {
    width: 30px;
    height: auto;
    object-fit: contain;
    display: block;
}

.contact h1 {
    background-color: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.information {
    margin-top: 40px;
    padding: 0;
    font-weight: bold;
}

.contact p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    padding: 0;
}

.middle {
    display: flex;
    gap: 10px;
}

.personal_information {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px 125px;
    align-items: center;
    max-width: 200px;
    border: none;
    outline: none;
    margin-bottom: 15px;
}

.personal_information input {
    padding: 4px;
}

.purpose {
    display: grid;
    grid-template-columns: max-content 1fr;
    border: none;
    gap: 0 20px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.purpose legend {
    grid-column: 1;
    float: left;
    padding: 0;
    margin: 0;
}

.purpose section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.purpose label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.message {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 3px;
    max-width: 350px;
    margin-bottom: 10px;
}

.message textarea {
    display: flex;
    text-align: left;
}

.touch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 5px;
    margin-top: 10px;
}

.final {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--secondary-color);
    color: white;
}

.final h2 {
    display: grid;
    grid-column: 1/4;
}

.final a {
    text-decoration: none;
    color: white;
}