* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-color: white;
    --main-title-color: darkblue;
    --border: 1px solid black;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--main-font-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-title-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 65px;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: darkred;
    color: var(--main-font-color);
}